# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* _List popular languages for Data Science_
* _List commonly used libraries in Data Science_
* _List open source tools in Data Science_
* _List visualization librarits in Data Science_
* _List open dataset and sources in Data Science_

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript
4. C
5. Julia

Some of the commonly used libraries used by Data Scientists include:
* Panda
* Numpy
* Matplotlib
* SciPy
* Scikit-learn
* TensorFlow

|Data Science Tools|
|:----------------:|
|Jupyter Notebook  |
|R Studio          |
|Spyder            |

### Below are a few examples of evaluating arithmetic expression in python.

In [3]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hour = minutes/60
print("200 minutes = ", hour, "hr")

200 minutes =  3.3333333333333335 hr

## Author
Ohn